/* optional CSS for webpage */
body {
    background-color: #E0FFFF;
    font-family: sans-serif;
    text-align: center;
}

h1 {
    color: #663399;
}

p {
    font-size: 1.25em;
}

/* optional CSS for game container */
#my-game {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid black;
}