body{
    background-color: #E2FFFF;
    color: #15495E;
    font-family:Arial, verdana, sans-serif;
}
h1{
    background-color: #237B7B;
    color:#E2FFFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 3px 3px 3px #000;
    line-height:200%;
    text-indent: 1em;
}
h2{
    background-color: #B0E6E6;
    color:#237B7B;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align:center;

}
nav{
    font-weight:bold;
    font-size:1.25em;
    word-spacing:1em;
    text-decoration: none;
}
/*nav a = a tags in my nav*/
nav a {
    text-decoration: none;
}
p{
    font-size: .9em;
    text-indent: 3em; 
}
ul{
    font-weight: bold;
}
footer{
    color: #333;
    font-size: 0.75em;
    font-style: italic;
}
#wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.feature{color: #C70000;}
.company{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25em;
}